body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    background-color: white;


}

.container{
    position: absolute;
    max-width:1280px;
    height: 1626px;
    width: 100%;
    text-align: center;
}

.nav{
    width:866px;
    margin:0 auto;

}
nav:before{
    content: "";
    display:block;
    height: 78px;
    width: 100%;
    background: white;
    position: absolute;
    left:0;

}
ul {
    margin: 0 auto;
    width:760px;
    padding:0;
    list-style:none;
    height: 27px;

}
ul li {
    margin:0 auto;
    text-align: center;
display: inline-block;
}
ul li a {
    color:#FF0000;
    display:block;
    height:27px;
    padding: 0 50px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 78px;
    position: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;

}

.container__img {
    position: center;
    height:786px;
   width: 100%;
    margin: 78px auto;
    max-width: 1280px;
}
img{
    max-width: 1280px;
    width: 100%;
    margin:0 auto;
    position: center;
}



.container__main{
    position:center;
    top:750px;
    max-width:1280px;
    height: 650px;
    left:0;
    width: 100%;

}

.text,h2{
    margin:0 auto;
    display: block;
    height:29px;
    width:600px;
    text-transform:uppercase;
   font-family:"Montserrat", sans-serif;
  font-weight: bold;
    font-size: 22px;
    color:#373737;
}

.main-text{
    margin:0 auto;
    height: 132px;
    text-align: center;
    max-width: 1145px;
    top: 115px;

}

p{
    font-family:"Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing:2.4px;
    width:100%;
text-align: center;
}


.main--text{
    margin: 0 auto;
    height: 216px;
    text-align: center;
    max-width: 1145px;
width: 100%;
}

.container-button {
    width: 100%;
    max-width: 1280px;
    height: 159px;
    top: 665px;

}
.button-style {

    font-size: 100%;
    border: none;

    margin: auto;
    font-family: "Montserrat", sans-serif;
    color: white;

}

input {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    size: 12px;
    width:205px;
    height:86px;
    padding:35px 35px;
    border-radius: 4px;
    background-color: #FF0000;
}

.body{
    position: relative ;
    padding-bottom: 108px;
    box-sizing: border-box;
}

.footer{
    position: absolute;
    height: 108px;
    text-align: right;
    bottom: 0 ;
    width: 1280px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;

}
